<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DataFlowDiagram -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.dataflow.diagram.DataFlowDiagram.presentation.DataFlowDiagramModelWizardID"
            name="%_UI_DataFlowDiagramModelWizard_label"
            class="org.palladiosimulator.dataflow.diagram.DataFlowDiagram.presentation.DataFlowDiagramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataFlowDiagramModelFile.gif">
         <description>%_UI_DataFlowDiagramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DataFlowDiagram -->
      <editor
            id="org.palladiosimulator.dataflow.diagram.DataFlowDiagram.presentation.DataFlowDiagramEditorID"
            name="%_UI_DataFlowDiagramEditor_label"
            icon="icons/full/obj16/DataFlowDiagramModelFile.gif"
            extensions="dataflowdiagram"
            class="org.palladiosimulator.dataflow.diagram.DataFlowDiagram.presentation.DataFlowDiagramEditor"
            contributorClass="org.palladiosimulator.dataflow.diagram.DataFlowDiagram.presentation.DataFlowDiagramActionBarContributor">
      </editor>
   </extension>
</plugin>
