<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Target Platform" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="tbd"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="tbd"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
<unit id="tools.mdsd.library.standalone.initialization.log4j.feature.feature.group" version="tbd"/>
<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/release/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
<unit id="tools.mdsd.library.standalone.initialization.log4j.feature.feature.group" version="tbd"/>
<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/2020-06/"/>
</location>
</locations>
</target>