<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dd -->
      <package
            uri="http://www.example.org/dd"
            class="designs.dd.DdPackage"
            genModel="model/dd.genmodel"/>
   </extension>

</plugin>
