<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.palladiosimulator.dataflow.diagram.editor.sirius.Activator"
               id="org.palladiosimulator.dataflow.diagram.editor.sirius"
	       name="org.palladiosimulator.dataflow.diagram.editor.sirius">
    </component>
  </extension>
</plugin>
