<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
      <descriptor
            class="com.example.awesomeproject.eef.ide.ui.ext.widgets.table.internal.TableLifecycleManagerProvider"
            description="%tableLifecycleManagerProvider.Description"
            id="com.example.awesomeproject.eef.ide.ui.ext.widgets.table"
            label="%tableLifecycleManagerProvider.Label">
      </descriptor>
   </extension>
</plugin>
