<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodelalt -->
      <package
            uri="http://www.example.org/metamodelalt"
            class="designs.metamodelalt.MetamodelaltPackage"
            genModel="model/metamodelalt.genmodel"/>
   </extension>

</plugin>
