<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataDictionary -->
      <package
            uri="http://palladiosimulator.org/dataflow/dictionary/1.0"
            class="org.palladiosimulator.dataflow.dictionary.DataDictionary.DataDictionaryPackage"
            genModel="model/DataDictionary.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataDictionary -->
      <package
            uri="http://sdq.ipd.uka.de/Identifier/2.1"
            class="identifier.IdentifierPackage"
            genModel="model/DataDictionary.genmodel"/>
   </extension>

</plugin>
