<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dd -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="designs.dd.presentation.DdModelWizardID"
            name="%_UI_DdModelWizard_label"
            class="designs.dd.presentation.DdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DdModelFile.gif">
         <description>%_UI_DdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dd -->
      <editor
            id="designs.dd.presentation.DdEditorID"
            name="%_UI_DdEditor_label"
            icon="icons/full/obj16/DdModelFile.gif"
            extensions="dd"
            class="designs.dd.presentation.DdEditor"
            contributorClass="designs.dd.presentation.DdActionBarContributor">
      </editor>
   </extension>

</plugin>
